admin-sucursales css

body {
  padding-top: 56px;
}

.navbar {
  background-color: #A52A2A; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #ffffff; 
  padding: 10px;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #8d8787; 
}

.navbar-toggler {
  border-color: #ffffff; 
}

.navbar-toggler-icon {
  background-color: #ffffff; 
}

  /* Estilo para la línea divisora */
  .divider {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 30px;
    margin-right: 10px;
}

/*HASTA AQUI ES LO DEL NAVBAR*/


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: darkgray;
    color: #1a3b47;
  }
  
  .logo {
    width: 60px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-right: 10px; /* Espacio entre la imagen y el título */
  }
  
  .sidebar-header {
    padding: 20px;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .sidebar-options {
    padding: 20px;
  }
  
  .sidebar-options ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-options ul li {
    margin-bottom: 10px;
  }
  
  .sidebar-options ul li a {
    color: #1a3b47;
    text-decoration: none;
  }
  
  .container {
    max-width: 800px;
    margin-left: 250px; /* Ancho de la barra lateral */
    padding: 20px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .btn-save {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-save:hover {
    background-color: #0056b3;
  }
  
  .information {
    margin-top: 40px;
  }
  
  .information p {
    margin-bottom: 10px;
  }
  