
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Rent-a-Car</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/ubicaciones">Ciudades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ubicaciones">Autos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="header">

    <div class="menu container">
        <a href="#" class="logo">MINSAIT</a>
        <input type="checkbox" id="menu" />
        <label for="menu">
            <img src="assets/menu.png" class="menu-icono" alt="Menu">
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Politicas</a></li>

            </ul>
        </nav>
    </div>
    <div class="header-content container">
        <h1>MINSAIT</h1>
        <p>
            Encontrar el vehículo perfecto para tu próximo
            viaje nunca ha sido tan fácil, ¡Conduce hacia tu futuro!
        </p>

    </div>
</header>
<div class="Reserva">
    <h2>Reserva ahora!</h2>
</div>
<div class="services">

    <div id="opciones">
      <label for="opcion">Selecciona una opción:</label>
      <select id="opcion">
        <option value="opcion1">Opción 1</option>
        <option value="opcion2">Opción 2</option>
        <option value="opcion3">Opción 3</option>
      </select>
    


        <a href="#" class="btn-1">Reserva</a>
    </div>
</div>


<main class="products container" id="lista-1">
    <h2>Los automoviles mas rentados</h2>
    <div class="product-content">

        <div class="product">
            <img src="../../../assets/carro1.png" alt="1">
            <div class="product-txt">
                <h2 class="peque">Toyota</h2>
                <p>Muy bueno</p>
                <p class="precio">200$</p>
                <a href="" class="btn-2">informacion</a>
            </div>
        </div>

        <div class="product">
            <img src="../../../assets/carro2.png" alt="1">
            <div class="product-txt">
                <h2 class="peque">Toyota</h2>
                <p>Muy bueno</p>
                <p class="precio">200$</p>
                <a href="" class="btn-2">informacion</a>
            </div>
        </div>

        <div class="product">
            <img src="../../../assets/carro3.png" alt="">
            <div class="product-txt">
                <h2 class="peque">Toyota</h2>
                <p>Muy bueno</p>
                <p class="precio">200$</p>
                <a href="" class="btn-2">informacion</a>
            </div>
        </div>

        <div class="product">
            <img src="../../../assets/carro3.png" alt="">
            <div class="product-txt">
                <h2 class="peque">JEP</h2>
                <p>El mas copacto</p>
                <p class="precio">200$</p>
                <a href="" class="btn-2">informacion</a>
            </div>
        </div>

        <div class="product">
            <img src="../../../assets/carro2.png" alt="">
            <div class="product-txt">
                <h2 class="peque">Toyota</h2>
                <p>Muy bueno</p>
                <p class="precio">200$</p>
                <a href="" class="btn-2">informacion</a>
            </div>
        </div>

        <div class="product">
            <img src="../../../assets/carro1.png" alt="">
            <div class="product-txt">
                <h2 class="peque">Toyota</h2>
                <p>Muy bueno</p>
                <p class="precio">200$</p>
                <a href="" class="btn-2">informacion</a>
            </div>
        </div>

    </div>
</main>





<section class="blog container">
    <h2>¿Porque somos los mejores?</h2>
    <p>MINSAIT</p>

    <div class="blog-content">
        <div class="blog-1">
            <img src="assets/images/blog1.jpg" alt="">
            <h3>Valores</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laboriosam corporis veniam excepturi
                quidem cupiditate, quisquam ipsam deleniti enim? Nemo quo asperiores itaque expedita sapiente quas,
                vel
                veritatis tempore commodi.
            </p>
        </div>

        <div class="blog-1">
            <img src="assets/images/blog2.jpg" alt="">
            <h3>Proposito</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laboriosam corporis veniam excepturi
                quidem cupiditate, quisquam ipsam deleniti enim? Nemo quo asperiores itaque expedita sapiente quas,
                vel
                veritatis tempore commodi.
            </p>
        </div>
        <div class="blog-1">
            <img src="assets/images/blog3.jpg" alt="">
            <h3>Calidad</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis laboriosam corporis veniam excepturi
                quidem cupiditate, quisquam ipsam deleniti enim? Nemo quo asperiores itaque expedita sapiente quas,
                vel
                veritatis tempore commodi.
            </p>
        </div>
    </div>

    <a href="#" class="btn-1">Informacion</a>
</section>

<footer class="footer">
    <div class="footer-content container">
        <div class="link">
            <h3>lorem</h3>
            <ul>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
            </ul>
        </div>
        <div class="link">
            <h3>lorem</h3>
            <ul>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
            </ul>
        </div>
        <div class="link">
            <h3>lorem</h3>
            <ul>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
            </ul>
        </div>
        <div class="link">
            <h3>lorem</h3>
            <ul>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
                <li><a href="#">lorem</a></li>
            </ul>
        </div>
    </div>
</footer>

