<<<<<<< Updated upstream
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;  
  }
  body{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
=======
body {
    padding-top: 56px;
>>>>>>> Stashed changes
  }

  .opciones-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columna {
    flex: 1;
    margin-right: 20px; /* Espacio entre las columnas */
}
.btn-container {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
}

/* Estilos para el contenedor principal */
#opciones {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #000000;
  }
  
  /* Estilos para las etiquetas de texto */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .btn-11 {
    margin-top: auto; /* Alinea el botón al centro verticalmente */
    margin-left: auto; 
    margin-top: 20px; /* Espacio entre las columnas y el botón */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

  /* Estilos para los campos de hora */
  input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  .navbar {
<<<<<<< Updated upstream
    position: relative;
    z-index: 100;   
}
  .container{
      max-width: 1150px;
      margin: 0 auto;
      min-height: 28vh;

  }
  
  .header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../../../assets/menu.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 78vh;
    display: flex;
    align-items: center;
    background-attachment: fixed; 
    
=======
    background-color: #A52A2A; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #ffffff; 
    padding: 10px;
  }
  
  .navbar-brand:hover,
  .navbar-nav .nav-link:hover {
    color: #8d8787; 
  }
  
  .navbar-toggler {
    border-color: #ffffff; 
  }
  
  .navbar-toggler-icon {
    background-color: #ffffff; 
  }
  .bg-dark-transparent {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro transparente */
    border: none; /* Sin borde */
  }
  
  .carousel-caption .card {
    max-width: 600px; /* Ancho máximo del card */
    margin: 0 auto; /* Centrar el card horizontalmente */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto al centro */
    border-radius: 20px; /* Radio de las esquinas */
  }
  
  .carousel-caption h1 {
    font-size: 3.5rem; /* Tamaño de fuente del título */
    font-weight: bold; /* Negrita */
    margin-bottom: 20px; /* Espacio inferior */
  }
  
  .carousel-caption p {
    font-size: 1.5rem; /* Tamaño de fuente del eslogan */
    margin-bottom: 0; /* Eliminar margen inferior */
  }
  
  /* Estilos para el formulario */
  .container {
  margin-top: 20px;
  }
  
  .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  }
  
  .card-body {
  padding: 20px;
  }
  
  .form-label {
  font-weight: bold;
  }
  
  .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  }
  
  .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  }
  .custom-title {
  background-color: #A52A2A; /* Color de fondo del nav bar */
  color: #ffffff; /* Color del texto */
  padding: 10px; /* Espaciado interno */
  }
  .custom-card {
  border-radius: 15px; /* Ajusta el valor según el nivel de redondez deseado */
  }
  .rounded-image {
  border-radius: 15px; /* Ajusta el valor según el nivel de redondez deseado */
  }
  .container-custom {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa; /* Color de fondo gris claro */
  padding: 20px;
  }
  
  .card-custom {
  border: none;
  box-shadow: none;
  }
  
  .card-body-custom {
  padding: 0;
  }
  
  h2 {
  margin-bottom: 20px;
  }
  
  h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
  }
  
  .city-list {
  list-style: none;
  padding: 0;
  }
  
  .city-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  }
  
  .city-list li:last-child {
  border-bottom: none;
  }
  
  .rounded-image {
  border-radius: 15px; /* Ajusta el valor según el nivel de redondez deseado */
  }

  /* Estilo para la línea divisora */
.divider {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 30px;
    margin-right: 10px;
>>>>>>> Stashed changes
}

/*FOOTER*/

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px; /* Ajusta el espaciado entre los enlaces */
}
